<h1>Welcome to Rails Engine Business API</h1>

<h3>Data Set Endpoints</h3><hr>
<ul>
  <li>**Customers**</li>
  <%= link_to 'All Customers', '/api/v1/customers' %> |
  <%= link_to 'Random Customer', '/api/v1/customers/random' %> |
  <%= link_to 'Select Specific Customer', '/select/customer' %> |
  <%= link_to 'Search For Specific Customer', '/search/customer' %> |
  <%= link_to 'Search For Customers', '/search_all/customer' %><br>

  <li>**Merchants**</li>
  <%= link_to 'All Merchants', '/api/v1/merchants' %> |
  <%= link_to 'Random Merchant', '/api/v1/merchants/random' %> |
  <%= link_to 'Select Specific Merchant', '/select/merchant' %> |
  <%= link_to 'Search For Specific Merchant', '/search/merchant' %> |
  <%= link_to 'Search For Merchants', '/search_all/merchant' %><br>

  <li>**Items**</li>
  <%= link_to 'All Items', '/api/v1/items' %> |
  <%= link_to 'Random Item', '/api/v1/items/random' %> |
  <%= link_to 'Select Specific Item', '/select/item' %> |
  <%= link_to 'Search For Specific Item', '/search/item' %> |
  <%= link_to 'Search For Items', '/search_all/item' %><br>

  <li>**Invoices**</li>
  <%= link_to 'All Invoices', '/api/v1/invoices' %> |
  <%= link_to 'Random Invoice', '/api/v1/invoices/random' %> |
  <%= link_to 'Select Specific Invoice', '/select/invoice' %> |
  <%= link_to 'Search For Specific Invoice', '/search/invoice' %> |
  <%= link_to 'Search For Invoices', '/search_all/invoice' %><br>

  <li>**Transactions**</li>
  <%= link_to 'All Transactions', '/api/v1/transactions' %> |
  <%= link_to 'Random Transaction', '/api/v1/transactions/random' %> |
  <%= link_to 'Select Specific Transaction', '/select/transaction' %> |
  <%= link_to 'Search For Specific Transaction', '/search/transaction' %> |
  <%= link_to 'Search For Transactions', '/search_all/transaction' %><br>

  <li>**Invoice Items**</li>
  <%= link_to 'All Invoice Items', '/api/v1/invoice_items' %> |
  <%= link_to 'Random Invoice Item', '/api/v1/invoice_items/random' %> |
  <%= link_to 'Select Specific Invoice Item', '/select/invoice_item' %> |
  <%= link_to 'Search For Specific Invoice Item', '/search/invoice_item' %> |
  <%= link_to 'Search For Invoice Items', '/search_all/invoice_item' %><br>
</ul>
